.Dictionary {
  max-width: 960px;
  margin: 0 auto;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary h1 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  padding-top: 7px;
}
